@page "/"
@rendermode InteractiveServer

<MudGrid Justify="Justify.Center" Spacing="0" class="text-center">

    @if(_drawerOpen)
    {
        <MudItem>
            <MudButton Variant="Variant.Filled" @onclick="DrawerToggle" Style="@($"background-color:{Colors.Pink.Lighten5};")">Close Allergen List</MudButton>
            <br>
            <br>
            <MudButton Variant="Variant.Filled" @onclick="DrawerToggle" Style="@($"background-color:{Colors.LightGreen.Lighten3};")">Add Allergen</MudButton>
            <br>
            <table class="table">
                <th>Allergens</th>
            </table>
        </MudItem>
    }

    <MudGrid Justify="Justify.Center">
        @if(!_drawerOpen)
        {
            <MudItem xs="6">
                <MudButton Variant="Variant.Filled" @onclick="DrawerToggle">View Allergens</MudButton>
            </MudItem>
        }
        <MudItem xs="12" class="text-center" style="margin-left:20px;">
            <MudTextField @bind-Value="FoodItem" Label="Check if food contains allergens" Variant="Variant.Outlined" style="margin-right: 300px;"></MudTextField>
        </MudItem>
    </MudGrid>
</MudGrid>

@code {
    public string FoodItem { get; set; }
    public int Spacing { get; set; } = 6;
    string hideAllergens = "Hide Allergens";
    string viewAllergens = "View Allergens";
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
