@page "/"
@using AllergenAI.GeminiAccess
@rendermode InteractiveServer
@inject IConfiguration Config

<MudGrid Justify="Justify.Center" Spacing="0" class="text-center">
    @if(!_drawerOpen)
    {
        <MudItem xs="6">
            <MudButton Variant="Variant.Filled" @onclick="DrawerToggle">View Allergens</MudButton>
        </MudItem>
    } else {
        <MudItem>
            <MudButton Variant="Variant.Filled" @onclick="DrawerToggle" Style="@($"background-color:{Colors.Pink.Lighten5};")">Close Allergen List</MudButton>
            <br>
            <br>
            <MudButton Variant="Variant.Filled" @onclick="AddAllergen" Style="@($"background-color:{Colors.LightGreen.Lighten3};")">Add Allergen</MudButton>
            <br>
            <table class="table">
                <th>Allergens</th>
            </table>
        </MudItem>
    }



    <MudItem xs="12" class="text-center" style="margin: auto; padding: 3% 20%;">
        <style>
            .green-border > .mud-input-control-input-container > .mud-input.mud-input-outlined > input:focus ~ .mud-input-outlined-border{border-color: rgb(91, 146, 91);}
            .green-border-text > .mud-input-control-input-container > .mud-input:focus-within~label.mud-input-label.mud-input-label-inputcontrol{color: rgb(36, 138, 36);}
        </style>
        <form method="post" @onsubmit="SearchForFood">
            <MudTextField @bind-Value="Food" class="green-border green-border-text" Label="Check if food contains allergens" Variant="Variant.Outlined"></MudTextField>
        </form>
    </MudItem>
</MudGrid>

@code {
    private static string LightGreen = Colors.LightGreen.Lighten3;
    public List<string> Allergens;
    public string Food { get; set; } = "";
    GeminiConnection connection;

    bool _drawerOpen = false;

    protected override async Task OnInitializedAsync() {
        Allergens = [];
        connection = new GeminiConnection(Config);
        return;
    }

    public void SearchForFood()
    {
        Console.WriteLine(GeminiConnection.GeneratePayload(Food));
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void AddAllergen()
    {

    }
}
